.card{
    background-color: #303030;
    border: 1px solid black;
    padding: 20px 10px 10px 30px;
    margin: 10px;
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row > span{
    font-weight: 700;
}