
<button type="button" class="add-car-button btn btn-outline-success">Add Car</button>
<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    @for (car of pagedCars; track car) {
      <div class="col">
        <div class="card h-100" [routerLink]="['/view-car', car.id]">
          <div class="card-body">
            <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
            <p class="card-text">Cena: <b>{{ car.price }} zł/h</b></p>
          </div>
          <div class="card-footer d-flex justify-content-center">
            <button class="btn btn-outline-secondary w-100">Więcej Szczegółów</button>
          </div>
        </div>
      </div>
    }
  </div>
</div>

@if (totalPages > 1) {
  <nav class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="goToPage(currentPage - 1)">Previous</a>
      </li>
      @for (p of [].constructor(totalPages); track p; let i = $index) {
        <li
          class="page-item"
          [class.active]="currentPage === (i + 1)">
          <a class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
        </li>
      }
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>
}