header{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: #1d1d1d;   
    color: white;
}
*{
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}