header{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: #303030;   
    color: white;
}
*{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}